<script lang="ts" setup>
import { ref } from "vue";
const input = ref("0");
</script>

<template>
  <v-card class="ma-12" height="auto">
    <v-container>
      <v-row>
        <v-responsive class="mx-auto ma-6" max-width="1000">
          <v-text-field
            clearable
            hide-details="auto"
            label="Please Input Number"
            v-model.number="input"
            :rules="[(v) => !!v || 'Number is not empty!!']"
            required
          ></v-text-field>
        </v-responsive>
      </v-row>
      <v-row>
        <v-col v-for="(item, index) of input" :key="index" class="cols"
          ><template v-if="item != '0'">
            {{ item }}
          </template>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<style scoped>
.cols {
  width: 8%;
  max-width: 8%;
  flex-basis: 8%;
  text-align: center;
}
</style>
