<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const Additem = function (item: { id: number; name: string; price: number }) {
  list.value.push(item);
};
const list = ref<{ id: number; name: string; price: number }[]>([]);
const sum = computed(function () {
  return list.value.reduce((sum, item) => sum + item.price, 0);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="ma-2">
        <v-container class="scroll_01">
          <v-row>
            <v-col cols="4" v-for="item in products" :key="item.id">
              <v-card align="center"
                ><v-card-title>{{ item.name }}</v-card-title>
                <v-card-subtitle>{{ item.price }}</v-card-subtitle>
                <v-btn class="ma-3" @click="Additem(item)">ADD</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="5.5">
        <v-container class="scroll_02">
          <v-row>
            <v-col cols="12">
              <v-table>
                <thead>
                  <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="list.length === 0">
                    <th colspan="6" style="text-align: center">NO Data</th>
                  </tr>
                  <tr v-else v-for="(item, index) of list" :key="index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
        </v-container>
        <v-row class="my-4">
          <h1>Sum:</h1>
          <h1>{{ sum }}</h1>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.scroll_01 {
  height: 530px;
  overflow: auto;
}
.scroll_02 {
  height: 450px;
  overflow: auto;
}
</style>
