<script setup lang="ts">
import { ref } from "vue";

const isYellow1 = ref(true);
const isYellow2 = ref(true);
const isYellow3 = ref(true);
const isYellow4 = ref(true);
const isYellow5 = ref(true);
const isYellow6 = ref(true);
const text = ref("Smile");
const img = ref("../feeling_imgs/smile.png");

function toggleYello1(Img: string, Text: string) {
  if (isYellow1.value === true) {
    isYellow1.value = false;
  }
  isYellow2.value = true;
  isYellow3.value = true;
  isYellow4.value = true;
  isYellow5.value = true;
  isYellow6.value = true;
  img.value = Img;
  text.value = Text;
}
function toggleYello2(Img: string, Text: string) {
  if (isYellow2.value === true) {
    isYellow2.value = false;
  }
  isYellow1.value = true;
  isYellow3.value = true;
  isYellow4.value = true;
  isYellow5.value = true;
  isYellow6.value = true;
  img.value = Img;
  text.value = Text;
}
function toggleYello3(Img: string, Text: string) {
  if (isYellow3.value === true) {
    isYellow3.value = false;
  }
  isYellow2.value = true;
  isYellow1.value = true;
  isYellow4.value = true;
  isYellow5.value = true;
  isYellow6.value = true;
  img.value = Img;
  text.value = Text;
}
function toggleYello4(Img: string, Text: string) {
  if (isYellow4.value === true) {
    isYellow4.value = false;
  }
  isYellow2.value = true;
  isYellow3.value = true;
  isYellow1.value = true;
  isYellow5.value = true;
  isYellow6.value = true;
  img.value = Img;
  text.value = Text;
}
function toggleYello5(Img: string, Text: string) {
  if (isYellow5.value === true) {
    isYellow5.value = false;
  }
  isYellow2.value = true;
  isYellow3.value = true;
  isYellow4.value = true;
  isYellow1.value = true;
  isYellow6.value = true;
  img.value = Img;
  text.value = Text;
}
function toggleYello6(Img: string, Text: string) {
  if (isYellow6.value === true) {
    isYellow6.value = false;
  }
  isYellow2.value = true;
  isYellow3.value = true;
  isYellow4.value = true;
  isYellow5.value = true;
  isYellow1.value = true;
  img.value = Img;
  text.value = Text;
}
</script>
<template>
  <v-container>
    <v-row class="ma-12">
      <v-col>
        <v-img
          :src="img"
          width="400"
          class="justify-center"
          style="margin: auto"
        ></v-img>
      </v-col>
      <v-col>
        <v-row class="ma-6">
          <h1 style="text-align: center; font-size: 50pt">
            {{ text }}
          </h1>
          <v-btn
            height="40px"
            width="100%"
            @click="toggleYello1('../feeling_imgs/angry.png', 'Angry')"
            :color="isYellow1 === false ? 'yellow' : 'white'"
            >ANGRY</v-btn
          >
        </v-row>
        <v-row class="ma-6">
          <v-btn
            height="50px"
            width="100%"
            @click="toggleYello2('../feeling_imgs/cute.png', 'Cute')"
            :color="isYellow2 === false ? 'yellow' : 'white'"
            >CUTE</v-btn
          >
        </v-row>
        <v-row class="ma-6">
          <v-btn
            height="50px"
            width="100%"
            @click="toggleYello3('../feeling_imgs/excited.png', 'Excited')"
            :color="isYellow3 === false ? 'yellow' : 'white'"
            >EXCITED</v-btn
          >
        </v-row>
        <v-row class="ma-6">
          <v-btn
            height="50px"
            width="100%"
            @click="toggleYello4('../feeling_imgs/pain.png', 'Pain')"
            :color="isYellow4 === false ? 'yellow' : 'white'"
            >PAIN</v-btn
          >
        </v-row>
        <v-row class="ma-6">
          <v-btn
            height="50px"
            width="100%"
            @click="toggleYello5('../feeling_imgs/shocked.png', 'Shocked')"
            :color="isYellow5 === false ? 'yellow' : 'white'"
            >SHOCKED</v-btn
          >
        </v-row>
        <v-row class="ma-6">
          <v-btn
            height="50px"
            width="100%"
            @click="toggleYello6('../feeling_imgs/smile.png', 'Smile')"
            :color="isYellow6 === false ? 'yellow' : 'white'"
            >SMILE</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yello {
  color: yellow;
}
</style>
