<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const usecounter = useCounterStore();
</script>

<template>
  <v-container>
    <v-row><div>First Component</div></v-row>
    <v-row
      ><div>{{ usecounter.count }}</div></v-row
    >
    <v-row class="my-10"
      ><v-btn @click="usecounter.inc">INCREMENT</v-btn></v-row
    >
  </v-container>
</template>
