<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const usecounter = useCounterStore();
</script>
<template>
  <v-container>
    <v-row><div>Second Component</div></v-row>
    <v-row
      ><div>{{ usecounter.doubleCount }}</div></v-row
    >
    <v-row class="my-10"><v-btn @click="usecounter.dec">DECREASE</v-btn></v-row>
  </v-container>
</template>
